
# .windsurfrules

# 프로젝트에서 준수해야 할 로컬 규칙 및 가이드라인
# 명확하고 간결하게 작성되었습니다.

1. 사용 언어 및 프레임워크:
   - 프론트엔드: Axios (HTTP 요청) 및 JSON 데이터 형식 사용
   - 백엔드: Spring Boot (버전 3.4.0 고정)
   - 템플릿 엔진: Thymeleaf 기반으로 구성

2.tree 구조를 보여드립니다 .
여기서 더 추가하지 않을것입니다 . 
기존 파일을 분석하여 수정 부탁드립니다.
├── README.md
├── build
│   ├── classes
│   │   └── java
│   │       └── main
│   │           └── org
│   │               └── zerock
│   │                   └── restqrpayment_2
│   │                       ├── RestQRpayment2Application.class
│   │                       ├── apiController
│   │                       │   ├── MemberController.class
│   │                       │   ├── MenuController.class
│   │                       │   ├── RestaurantController.class
│   │                       │   └── UpDownController.class
│   │                       ├── config
│   │                       │   ├── CustomSecurityConfig.class
│   │                       │   ├── ModelMapperConfig.class
│   │                       │   └── WebConfig.class
│   │                       ├── controller
│   │                       │   ├── CommonController.class
│   │                       │   ├── HomeController.class
│   │                       │   ├── OwnerApiController.class
│   │                       │   ├── OwnerController.class
│   │                       │   ├── OwnerMenuController.class
│   │                       │   ├── OwnerRestaurantController.class
│   │                       │   ├── TableController.class
│   │                       │   ├── TableViewController.class
│   │                       │   ├── UserController.class
│   │                       │   └── UserRestController.class
│   │                       ├── domain
│   │                       │   ├── BaseEntity.class
│   │                       │   ├── Member$MemberBuilder.class
│   │                       │   ├── Member.class
│   │                       │   ├── MemberRole.class
│   │                       │   ├── Menu$MenuBuilder.class
│   │                       │   ├── Menu.class
│   │                       │   ├── MenuImage$MenuImageBuilder.class
│   │                       │   ├── MenuImage.class
│   │                       │   ├── QBaseEntity.class
│   │                       │   ├── QMember.class
│   │                       │   ├── QMenu.class
│   │                       │   ├── QMenuImage.class
│   │                       │   ├── QRestaurant.class
│   │                       │   ├── QRestaurantImage.class
│   │                       │   ├── QRestaurantTable.class
│   │                       │   ├── Restaurant$RestaurantBuilder.class
│   │                       │   ├── Restaurant.class
│   │                       │   ├── RestaurantImage$RestaurantImageBuilder.class
│   │                       │   ├── RestaurantImage.class
│   │                       │   ├── RestaurantTable$RestaurantTableBuilder.class
│   │                       │   └── RestaurantTable.class
│   │                       ├── dto
│   │                       │   ├── CreateTableRequest.class
│   │                       │   ├── MemberDTO$MemberDTOBuilder.class
│   │                       │   ├── MemberDTO.class
│   │                       │   ├── MenuDTO$MenuDTOBuilder.class
│   │                       │   ├── MenuDTO.class
│   │                       │   ├── MenuImageDTO$MenuImageDTOBuilder.class
│   │                       │   ├── MenuImageDTO.class
│   │                       │   ├── MenuListAllDTO$MenuListAllDTOBuilder.class
│   │                       │   ├── MenuListAllDTO.class
│   │                       │   ├── PageRequestDTO$PageRequestDTOBuilder.class
│   │                       │   ├── PageRequestDTO.class
│   │                       │   ├── PageResponseDTO$PageResponseDTOBuilder.class
│   │                       │   ├── PageResponseDTO.class
│   │                       │   ├── PasswordChangeDTO$PasswordChangeDTOBuilder.class
│   │                       │   ├── PasswordChangeDTO.class
│   │                       │   ├── RestaurantDTO$RestaurantDTOBuilder.class
│   │                       │   ├── RestaurantDTO.class
│   │                       │   ├── RestaurantImageDTO$RestaurantImageDTOBuilder.class
│   │                       │   ├── RestaurantImageDTO.class
│   │                       │   ├── RestaurantListAllDTO$RestaurantListAllDTOBuilder.class
│   │                       │   ├── RestaurantListAllDTO.class
│   │                       │   ├── TableDTO$TableDTOBuilder.class
│   │                       │   ├── TableDTO.class
│   │                       │   └── upload
│   │                       │       ├── UploadFileDTO.class
│   │                       │       ├── UploadResultDTO$UploadResultDTOBuilder.class
│   │                       │       └── UploadResultDTO.class
│   │                       ├── exception
│   │                       │   └── RestaurantNotFoundException.class
│   │                       ├── repository
│   │                       │   ├── MemberRepository.class
│   │                       │   ├── MenuRepository.class
│   │                       │   ├── RestaurantRepository.class
│   │                       │   ├── TableRepository.class
│   │                       │   ├── menuSearch
│   │                       │   │   ├── MenuImageSearch.class
│   │                       │   │   └── MenuImageSearchImpl.class
│   │                       │   └── restaurantSearch
│   │                       │       ├── RestaurantSearch.class
│   │                       │       └── RestaurantSearchImpl.class
│   │                       ├── security
│   │                       │   └── CustomUserDetailsService.class
│   │                       └── service
│   │                           ├── MemberService.class
│   │                           ├── MemberServiceImpl.class
│   │                           ├── MenuService.class
│   │                           ├── MenuServiceImpl.class
│   │                           ├── RestaurantService.class
│   │                           ├── TableService.class
│   │                           ├── UserService.class
│   │                           ├── UserServiceImpl.class
│   │                           └── impl
│   │                               └── RestaurantServiceImpl.class
│   ├── generated
│   │   ├── querydsl
│   │   │   └── org
│   │   │       └── zerock
│   │   │           └── restqrpayment_2
│   │   │               └── domain
│   │   │                   ├── QBaseEntity.java
│   │   │                   ├── QMember.java
│   │   │                   ├── QMenu.java
│   │   │                   ├── QMenuImage.java
│   │   │                   ├── QRestaurant.java
│   │   │                   ├── QRestaurantImage.java
│   │   │                   └── QRestaurantTable.java
│   │   └── sources
│   │       └── headers
│   │           └── java
│   │               └── main
│   ├── reports
│   │   └── problems
│   │       └── problems-report.html
│   ├── resources
│   │   └── main
│   │       ├── application.properties
│   │       ├── static
│   │       │   ├── css
│   │       │   │   ├── admin-styles.css
│   │       │   │   ├── order.css
│   │       │   │   ├── owner-dashboard.css
│   │       │   │   ├── store.css
│   │       │   │   └── styles.css
│   │       │   └── js
│   │       │       ├── account-settings.js
│   │       │       ├── admin-auth.js
│   │       │       ├── admin-dashboard.js
│   │       │       ├── admin-login.js
│   │       │       ├── admin-service.js
│   │       │       ├── admin.js
│   │       │       ├── api.js
│   │       │       ├── auth.js
│   │       │       ├── cart-service.js
│   │       │       ├── cart.js
│   │       │       ├── checkout.js
│   │       │       ├── detail.js
│   │       │       ├── menu-detail.js
│   │       │       ├── menu-management.js
│   │       │       ├── menu-service.js
│   │       │       ├── menu.js
│   │       │       ├── order-history.js
│   │       │       ├── order-service.js
│   │       │       ├── order-status.js
│   │       │       ├── order.js
│   │       │       ├── owner-auth.js
│   │       │       ├── script.js
│   │       │       └── table-management.js
│   │       └── templates
│   │           ├── common
│   │           │   ├── find-id.html
│   │           │   ├── find-password.html
│   │           │   ├── index.html
│   │           │   └── login.html
│   │           ├── owner
│   │           │   ├── owner-dashboard.html
│   │           │   ├── owner-login.html
│   │           │   ├── owner-signup.html
│   │           │   └── signup.html
│   │           └── user
│   │               ├── cart.html
│   │               ├── menu-detail.html
│   │               ├── order-history.html
│   │               ├── order-status.html
│   │               └── signup.html
│   └── tmp
│       └── compileJava
│           ├── compileTransaction
│           │   ├── backup-dir
│           │   └── stash-dir
│           │       ├── MenuImageSearchImpl.class.uniqueId9
│           │       ├── QBaseEntity.class.uniqueId0
│           │       ├── QBaseEntity.java.uniqueId13
│           │       ├── QMember.class.uniqueId7
│           │       ├── QMember.java.uniqueId6
│           │       ├── QMenu.class.uniqueId14
│           │       ├── QMenu.java.uniqueId15
│           │       ├── QMenuImage.class.uniqueId12
│           │       ├── QMenuImage.java.uniqueId8
│           │       ├── QRestaurant.class.uniqueId1
│           │       ├── QRestaurant.java.uniqueId3
│           │       ├── QRestaurantImage.class.uniqueId2
│           │       ├── QRestaurantImage.java.uniqueId4
│           │       ├── QRestaurantTable.class.uniqueId10
│           │       ├── QRestaurantTable.java.uniqueId5
│           │       └── RestaurantSearchImpl.class.uniqueId11
│           └── previous-compilation-data.bin
├── build.gradle
├── gradle
│   └── wrapper
│       ├── gradle-wrapper.jar
│       └── gradle-wrapper.properties
├── gradlew
├── gradlew.bat
├── settings.gradle
└── src
    └── main
        ├── generated
        │   ├── com
        │   │   └── qrservice
        │   │       └── model
        │   │           └── QRestaurant.java
        │   └── org
        │       └── zerock
        │           └── restqrpayment_2
        │               └── domain
        │                   ├── QBaseEntity.java
        │                   ├── QMember.java
        │                   ├── QMenu.java
        │                   ├── QMenuImage.java
        │                   ├── QRestaurant.java
        │                   └── QRestaurantImage.java
        ├── java
        │   └── org
        │       └── zerock
        │           └── restqrpayment_2
        │               ├── RestQRpayment2Application.java
        │               ├── apiController
        │               │   ├── MemberController.java
        │               │   ├── MenuController.java
        │               │   ├── RestaurantController.java
        │               │   └── UpDownController.java
        │               ├── config
        │               │   ├── CustomSecurityConfig.java
        │               │   ├── ModelMapperConfig.java
        │               │   └── WebConfig.java
        │               ├── controller
        │               │   ├── CommonController.java
        │               │   ├── HomeController.java
        │               │   ├── OwnerApiController.java
        │               │   ├── OwnerController.java
        │               │   ├── OwnerMenuController.java
        │               │   ├── OwnerRestaurantController.java
        │               │   ├── TableController.java
        │               │   ├── TableViewController.java
        │               │   ├── UserController.java
        │               │   └── UserRestController.java
        │               ├── domain
        │               │   ├── BaseEntity.java
        │               │   ├── Member.java
        │               │   ├── MemberRole.java
        │               │   ├── Menu.java
        │               │   ├── MenuImage.java
        │               │   ├── Restaurant.java
        │               │   ├── RestaurantImage.java
        │               │   └── RestaurantTable.java
        │               ├── dto
        │               │   ├── CreateTableRequest.java
        │               │   ├── MemberDTO.java
        │               │   ├── MenuDTO.java
        │               │   ├── MenuImageDTO.java
        │               │   ├── MenuListAllDTO.java
        │               │   ├── PageRequestDTO.java
        │               │   ├── PageResponseDTO.java
        │               │   ├── PasswordChangeDTO.java
        │               │   ├── RestaurantDTO.java
        │               │   ├── RestaurantImageDTO.java
        │               │   ├── RestaurantListAllDTO.java
        │               │   ├── TableDTO.java
        │               │   └── upload
        │               │       ├── UploadFileDTO.java
        │               │       └── UploadResultDTO.java
        │               ├── exception
        │               │   └── RestaurantNotFoundException.java
        │               ├── repository
        │               │   ├── MemberRepository.java
        │               │   ├── MenuRepository.java
        │               │   ├── RestaurantRepository.java
        │               │   ├── TableRepository.java
        │               │   ├── menuSearch
        │               │   │   ├── MenuImageSearch.java
        │               │   │   └── MenuImageSearchImpl.java
        │               │   └── restaurantSearch
        │               │       ├── RestaurantSearch.java
        │               │       └── RestaurantSearchImpl.java
        │               ├── security
        │               │   └── CustomUserDetailsService.java
        │               └── service
        │                   ├── MemberService.java
        │                   ├── MemberServiceImpl.java
        │                   ├── MenuService.java
        │                   ├── MenuServiceImpl.java
        │                   ├── RestaurantService.java
        │                   ├── TableService.java
        │                   ├── UserService.java
        │                   ├── UserServiceImpl.java
        │                   └── impl
        │                       └── RestaurantServiceImpl.java
        └── resources
            ├── application.properties
            ├── static
            │   ├── css
            │   │   ├── admin-styles.css
            │   │   ├── order.css
            │   │   ├── owner-dashboard.css
            │   │   ├── store.css
            │   │   └── styles.css
            │   └── js
            │       ├── account-settings.js
            │       ├── admin-auth.js
            │       ├── admin-dashboard.js
            │       ├── admin-login.js
            │       ├── admin-service.js
            │       ├── admin.js
            │       ├── api.js
            │       ├── auth.js
            │       ├── cart-service.js
            │       ├── cart.js
            │       ├── checkout.js
            │       ├── detail.js
            │       ├── menu-detail.js
            │       ├── menu-management.js
            │       ├── menu-service.js
            │       ├── menu.js
            │       ├── order-history.js
            │       ├── order-service.js
            │       ├── order-status.js
            │       ├── order.js
            │       ├── owner-auth.js
            │       ├── script.js
            │       └── table-management.js
            └── templates
                ├── common
                │   ├── find-id.html
                │   ├── find-password.html
                │   ├── index.html
                │   └── login.html
                ├── owner
                │   ├── owner-dashboard.html
                │   ├── owner-login.html
                │   ├── owner-signup.html
                │   └── signup.html
                └── user
                    ├── cart.html
                    ├── menu-detail.html
                    ├── order-history.html
                    ├── order-status.html
                    └── signup.html


3. 의존성 및 빌드 도구:
   - Gradle 사용 (버전은 settings.gradle 참고).
   - application.properties 

   해당사항들은 변경불가

4. 사용 금지:
   - Spring Boot 버전 업그레이드는 금지
   - application.properties파일 수정 금지
   - src/generated 경로의 QueryDSL 파일 직접 수정 금지

   꼭 해야한다면 물어보고 하기

5. 프론트엔드와 백엔드의 동기화
변경 사항 발생 시, API 문서화 툴(Swagger/OpenAPI)을 통해 프론트와 백의 동기화를 진행.
데이터베이스 필드와 일치하는 변수명을 사용할 것


6. 백앤드파일들은 rc/main/java/org/zerock/restqrpayment_2/ 위치

7. 프론트파일은 src/main/resources 내에 위치

8. 이미지 저장경로는 application.properties 가 기준

9. 문제 발생시 import 정확히 할것

10 . 수정하는 과정 중에 코드가 꼬이지 않게 백앤드 프론트파일 꼼꼼히 체크

11 . 프론트 파일은 더 완성되어서 새로만들 필요없음 , 로컬스토리지 사용안함

12. 각 파일 별로 겹치는 css , js 있으면 최적화 필요

13. 프론트파일 볼때 관련된 js, css 연결된 거 봐주면서 조언 해줘도 됨 . 

14. 답변 내용은 무조건 한국어 