<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}" />
</head>
<body>
    <div class="container">
        <header>
            <button th:onclick="|location.href='@{/}'|" class="back-button">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                </svg>
            </button>
            <h1>장바구니</h1>
        </header>
        
        <main>
            <div id="cartItems" class="cart-items">
                <!-- 장바구니 아이템들이 여기에 동적으로 추가됩니다 -->
            </div>
            
            <div class="cart-summary">
                <p>총 <span id="totalItemCount">0</span>개의 상품</p>
                <p class="total-price">총 주문금액: <span id="totalPrice">0원</span></p>
                <button id="orderButton" class="order-button">주문하기</button>
            </div>
        </main>
    </div>
    
    <script th:inline="javascript">
        // Thymeleaf 변수
        const restaurantId = [[${param.restaurantId}]];
        const tableId = [[${param.tableId}]];
    </script>
    <script type="module" th:src="@{/js/cart.js}"></script>
</body>
</html>
